.filter {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.filter p {
  margin: auto;
  width: 70%;
}

.filter button {
  margin-right: 5px;
}

.filter_detail_button{
  margin: auto;
  width: 70%;
}

.filter_delete_button {
  margin-left: auto;
  width: 55px;
  min-width: 55px;
  background-color: #ec7373;
  width: 10%;
  max-height: 45px;
}

.filter_edit_button {
  margin-left: auto;
  min-width: 55px;
  width: 20%;
}
