.preference-details-item {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.item-label {
  width: 80%;
  margin-left: 5px;
  min-height: 40px;
  line-height: 40px;
  text-align: left;
}

.item-input {
  padding-right: 5px;
  padding-left: 5px;
  width: 20%;
  margin-left: auto;
  text-align: end;
  font-size: large;
}
